.barra-lateral {
  width: 25%;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  /* Asegura que la barra lateral esté por debajo de la imagen */
}

.barra-lateral::before {
  content: "";
  display: block;
  background-image: url('kandy.png');
  /* Reemplaza con la ruta correcta de tu imagen */
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: center, width=50%;
  height: 50%;
  /* Ajusta la altura de la imagen según tus necesidades */
  position: relative;
  z-index: 2;
  /* Asegura que la imagen esté por encde la barra lateral */
}

.texto-ubicado {
  position: absolute;
  top: 10%;
  /* Ubicación vertical del texto */
  left: 5%;
  /* Ubicación horizontal del texto */
  transform: translateY(-50%);
  /* Ajuste para centrar verticalmente */
}

.texto-ubicado h1 {
  font-family: "Cooper Black", sans-serif;
  font-size: 40px;
}

.texto-ubicado p {
  font-family: "Aharoni", sans-serif;
  font-size: 17 px;
}

.imagen-izquierda {
  position: fixed;
  top: 0;
  left: 0;
  height: 35vh;
  /* 70% de la altura de la ventana */
  width: 30%;
  /* 30% del ancho de la ventana */
  margin-top: 10%;
  /* Separación superior de los bordes de la página */
  margin-left: 55px;
  /* Separación izquierda de los bordes de la página */
}

.texto-img1 {
  position: absolute;
  top: 60%;
  /* Ubicación vertical del texto */
  left: 4%;
  /* Ubicación horizontal del texto */
  transform: translateY(-50%);
  /* Ajuste para centrar verticalmente */
}

.texto-img1 h1 {
  font-family: "Cooper Black", sans-serif;
  font-size: 40px;
}

.texto-img1 p {
  font-family: "Aharoni", sans-serif;
  font-size: 17 px;
}

.imagen-centro {
  position: fixed;
  top: 0;
  left: 0;
  height: 35vh;
  /* 70% de la altura de la ventana */
  width: 30%;
  /* 30% del ancho de la ventana */
  margin-top: 10%;
  /* Separación superior de los bordes de la página */
  margin-left: 600px;
  /* Separación izquierda de los bordes de la página */
}

.texto-img2 {
  position: absolute;
  top: 60%;
  /* Ubicación vertical del texto */
  left: 40%;
  /* Ubicación horizontal del texto */
  transform: translateY(-50%);
  /* Ajuste para centrar verticalmente */
}

.texto-img2 h1 {
  font-family: "Cooper Black", sans-serif;
  font-size: 40px;
}

.texto-img2 p {
  font-family: "Aharoni", sans-serif;
  font-size: 17 px;
}
.input{
  width: 220px;
  height: 40px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 4px;
  display: block;
  background-color:  rgb(219, 209, 209);
}
